body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #DDDDD9;
}

header {
    background-color: #375D6C;
    padding: 20px;
    color: white;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

h2 {
    color: #375D6C;
}

.gallery {
    display: flex;
    justify-content: space-between;
}

.gallery img {
    width: 32%;
    height: auto;
    border: 1px solid #375D6C;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 10px;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #798B95;
    margin-bottom: 10px;
}

form button {
    padding: 10px;
    background-color: #375D6C;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #798B95;
}

footer {
    background-color: #375D6C;
    color: white;
    text-align: center;
    padding: 10px;
}
